<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>What do these genres mean?</h2>
        <p>Fantasy - Set in a world where there's magic and mythical creatures. Think 'Lord of the Rings' or 'Dungeons and Dragons'.</p>
        <p>Sci-Fi - A world with space exploration and aliens. Think 'Star Trek' or 'Star Wars'.</p>
        <p>There will be other genres added later.</p>
        <form action="/" method="post">
            <input type="submit" value="Main">
        </form>

    </div>
</body>