<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Chatbot</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>RPG Chatbot</h2>
        <p>Welcome to RPG Chatbot. Please select a genre to begin</p>
        <form action="/fantasy" method="post">   
            <input type="submit" value="Fantasy">
        </form>
        <form action="/sci-fi" method="post">
            <input type="submit" value="Sci-Fi">
        </form>
        <form action = "/genre" method="post">
            <input type="submit" value="What do these genres mean?">
        </form>

    </div>
</body>